.container{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.box1{
    flex: 1 0 100px;
    display: flex;
    flex-wrap: wrap;  
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
}